html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
   background-color: #253237; /* WHOLE BODY BACKGROUND COLOR  */
  opacity: 100%; 

}





/* WHOLE OUTER CONTAINER */
.outer{
   width: 100%;
   min-height: 100vh;
   background-color: #1A212B;

   display: flex;
   flex-direction: column;

   padding: 20px 60px; /* DESKTOP SIDE PADDING */
}





 /* HEADER SECTION */
.header{
    height:120px;
    width: 100%;

    font-size: 64px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #202734; */
}


/* /* .inner{
    height:50px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    justify-content:flex-start;
    align-items: center;
} */

/* NAVIGATION BAR */
.navbar {
    height: 120px; 
    width: 120%;
    max-width: 2800px;
    margin: auto;   
    border-radius:14px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #242C3A;
    font-size: 45px;
}



  .navbar a {
    text-decoration: none;
    color: #BFC9D6;
    font-weight: bold;
  }


/* MAIN DIV BODY */
.main{
    width: 100%;              /* FULL SCREEN */
    min-height: 100vh;

    background-color: #1F2632;
    border-radius: 14px;


    /* border: 2px solid black; */

    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 60px;
}


  

  .logo i{
    height:70px;
    width: 90px;
    /* border: 2px solid black; */
    margin-bottom: 10px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     font-size: 70px;
    }

  h1{
    margin:0;
     font-size: 40px;
  }


  .btn{
    height: 50px;
    width: 120px;
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    display:inline-block;
    font-size: 36px;
    cursor: pointer;
     /* font-size: 40px; */
  }


  .btn:hover{
    background-color: #4A5568;
    color: #263040;
    cursor: pointer;
  }



/* BALANCE DIV MANAGEMENT */


  .totalBalance{
    height: 120px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 20px, 20px, 20px, 10px;   
     font-size: 40px;
  }

  .income{
    height: 120px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px, 10px, 10px, 10px;   
     font-size: 40px;
  }


.main {
  /* border: 2px solid black; */
  padding: 15px;
}

/* LOGO + TITLE + ADD BUTTON ALIGNMENT */
.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* MAIN BODY CONTENT DIV HEADING  */

.main h3 {
  margin-bottom: 10px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   font-size: 100px; 
   
}










/* Transaction Section   */
.transaction{
    height: 70px;
    width: 270px;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ol{
  margin-top: 20px;
  margin-right: 200px;
  margin-bottom: 20px;;
}








 /* BALANCE DIV MANAGEMENT */
.balance{
  width: 100%;
  display: flex;
  justify-content: space-around; /* SPREAD ACROSS SCREEN */
  align-items: center;
  margin-top: 400px;
}


.totalBalance{
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #2D3748;
  color: #E5E7EB;
  
}


.income{
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #2D3748;
  color: #ECFDF5;
}




/* TRANCSATION SECTION MANAGEMENT */

.transactions-box {
    width: 1000px;
    height: 400px;
    background: #1D2533;
    border-radius: 12px;
    padding: 50px;
    margin: 400px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.transactions-box h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    color: #ecdc69;
    text-transform: uppercase;
    font-size: 30px;
}

.transaction-list {
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.transaction-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E5E7EB;
    background: #263040;
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 30px;
    transition: 0.2s;
}

.transaction-list li:hover {
    background: #2F3B52;
    transform: scale(1.03);
}

.amount {
    font-weight: bold;
    color: #22C55E;
}

.totalBalance p{
    font-size: 36px;
    color: #22C55E;
}

.income p{
    font-size: 36px;
    color: #ec0b0b; 
} 